body{
    background-image: url("");
    font-family: helvetica;
    text-align: center;
    background: linear-gradient(68.15deg, #4d3213, 20.15%, #a7763352 85.61%);
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    }
 
textarea{
    width: 600px;
    height: 100px;
    font-size: 20px;
    border-radius: 15px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.box{
    background-color: #dad4ce;
    height: 35px;
    border-width: 2px;
    outline: 0;
    cursor: pointer;
    width: 80px;
    text-align: center;
    border-radius: 8px;
}

.button{
    background-color: #dad4ce;
    height: 35px;
    border-width: 2px;
    outline: 0;
    cursor: pointer;
    width: 100px;
    text-align: center;
    border-radius: 8px;
}